body,
main {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.34;
  padding: 0px;
  margin: 0px;
  position: relative;
}

#main-container {
  background-color: #f0f2f5;
  height: 100%;
  padding-top: 130px;
  padding-bottom: 180px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  border-bottom: 1px solid #dddfe2;
  margin: 8px 0px;
}

/* Left part of the page */
#left-container {
  width: 500px;
  padding-bottom: 100px;
  padding-right: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#logo {
  height: 106px;
  margin: -28px;
}

h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: normal;
  color: #1c1e21;
}

/* Right part of the page */
#right-container {
  position: relative;
}

#form-container {
  margin: 0;
  padding: 10px 16px 24px 16px;
  width: 396px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

input {
  border: 1px solid #dddfe2;
  outline: none;
}

input:focus {
  border: 1px solid #3d8cf3;
  box-shadow: 0px 0px 0px 2px rgba(231, 243, 255, 0.96);
}

.input-email {
  width: 330px;
  height: 22px;
  margin: 6px 0;
  font-size: 17px;
  padding: 14px 16px;
  background: #ffffff;
  border: 1px solid #dddfe2;
  color: #1d2129;
  border-radius: 6px;
  cursor: text;
}

.pass-container {
  width: 364px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

.input-pass {
  width: 330px;
  height: 22px;
  line-height: 16px;
  font-size: 17px;
  padding: 14px 44px 14px 16px;
  margin: 6px 0;
  background: #ffffff;
  border: 1px solid #dddfe2;
  color: #1d2129;
  border-radius: 6px;
  vertical-align: middle;
  cursor: text;
}

#submit-button {
  margin-top: 12px;
  margin-bottom: 16px;
  width: 364px;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #350bf1;
}

.forgot-pass-container {
  margin-bottom: 20px;
}

.forgot-pass {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.forgot-pass:hover {
  text-decoration: underline;
}

#register-button {
  width: 210px;
  margin-top: 18px;
  background-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#register-button:hover {
  background-color: #07f513;
}

.create-page {
  font-size: 14px;
  font-weight: normal;
  margin-top: 28px;
  width: 396px;
  color: #1c1e21;
  text-align: center;
}

.create-page-a {
  font-size: 14px;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.create-page-a:hover {
  text-decoration: underline;
}

/* Footer Section */
footer {
  padding: 28px 0px 20px 0px;
  margin: 0px 142px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.language {
  line-height: 1.6;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.language li {
  list-style-type: none;
  padding-right: 10px;
}

.language a {
  text-decoration: none;
  color: #8a8d91;
}

.language li:hover {
  text-decoration: underline;
}

.add-language {
  height: 20px;
  padding: 0 8px;
  line-height: 18px;
  font-size: large;
  color: #6b7180;
  border: 1px solid;
  border-radius: 2px;
  border-color: #ccd0d5;
  background-color: #f5f6f7;
}

.add-language:hover {
  background-color: #e6f3e6;
  cursor: pointer;
}

.footer-nav {
  padding: 0px;
  margin: 0px;
  line-height: 1.6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.footer-nav li {
  padding-right: 20px;
  list-style-type: none;
}

.footer-nav a {
  color: #8a8d91;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.ad-icon {
  height: 16px;
  width: 16px;
  margin: -4px;
  background-position: -17px -59px;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/qRcNPmcQqib.png");
  background-size: 171px 76px;
  background-repeat: no-repeat;
  display: inline-block;
}

.copyright {
  font-size: 11px;
  margin-top: 20px;
  color: #737373;
}
/* footer kismi FINISH */

/* ekrana boyutuna gore pozisyon ayarlamalari */
@media only screen and (max-width: 900px) {
  #main-container {
    flex-direction: column;
    padding: 0px;
    padding-bottom: 45px;
  }

  #left-container {
    width: 400px;
    padding: 0px;
    padding: 45px 0px;
    align-items: center;
    text-align: center;
  }

  footer {
    margin: 0px 40px;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
