/* Background*/
.background-container {
  position: relative;
}
.circle {
  border-radius: 50%;
  position: absolute;
}
.circle-1 {
  width: 100px;
  height: 100px;
  background-color: #a2d6f3;
  top: 20px;
  left: 200px;
}
.circle-2 {
  width: 325px;
  height: 325px;
  background-color: #84c9f1;
  top: 200px;
  left: -100px;
}
.circle-3 {
  width: 175px;
  height: 175px;
  background-color: #62baed;
  top: -20px;
  right: 10px;
}
.circle-4 {
  width: 300px;
  height: 300px;
  background-color: #9cd1f1;
  top: 400px;
  right: -50px;
}
.circle-5 {
  width: 120px;
  height: 120px;
  background-color: #4e9feb;
  top: 30px;
  left: 5px;
}
.circle-6 {
  width: 20px;
  height: 20px;
  background-color: #4db3ea;
  top: 50px;
  left: 190px;
}
.circle-7 {
  width: 70px;
  height: 70px;
  background-color: #4cc2eb;
  top: 20px;
  right: -15px;
}
