/* Main container */
#main-container {
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;

  box-shadow: -62px 37px 99px -32px rgba(0, 0, 0, 0.46);
  background-color: white;
  z-index: 2;
}

header {
  position: relative;
  overflow: hidden;
  height: 210px;
  background: linear-gradient(90deg, #3585e8, #35b9e8);
}

.button-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.button-style {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.header-nav-icon {
  width: 24px;
}

#main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#personel-container {
  position: relative;
  margin: -90px 20px 20px 20px;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0px 3px 24px -9px rgba(0, 0, 0, 0.48);

  display: flex;
  flex-direction: column;
  align-items: center;
}

#profil-image-container {
  position: relative;
  margin-top: -50px;
  height: 100px;
  width: 100px;
}

#profil-image {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 2px 15px -7px #000000;
}

#add-profil-image {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 20px;
  border-radius: 50%;

  background-color: white;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: dimgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: bold;
}

#job {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  font-weight: normal;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
  width: 150px;
}

.social-media-icon {
  width: 18px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#about {
  text-align: center;
  padding: 0px 0px 10px 0px;
  margin: 0px;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  font-weight: normal;
}

.title {
  margin: 10px 20px 5px 20px;
  color: #c8c8ca;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

#account-settings-container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-content: flex-start;

  margin: 5px 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0px 3px 24px -9px rgba(0, 0, 0, 0.48);
}

.account-item-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;

  text-align: center;
  margin: 0px;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  font-weight: normal;
  margin: 5px;
}

.account-item-icon {
  height: 32px;
}

footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px 20px 10px 20px;
  box-shadow: 0px -3px 24px -9px rgba(0, 0, 0, 0.48);
}

.footer-nav-icon {
  flex-direction: row;
  width: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
